@import "../../styles/index.module.scss";
.record-box {
  @include flex(
   
    $alignItems: flex-start,
    $justifyContent: space-between
  );
  background-color: $white;
  padding: 13px;
  font-size: 12px;
  width: 385px;
  flex-wrap: nowrap;

  .name {
    width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }
  .temperature {
    color: $green;
    width: 50px;
    text-align: center;
  }
}
