@import '../../styles/index.module.scss';
.view-record-wrapper{
    h1{
        font-size: 16px;
        font-weight: 350;
        margin-bottom: 15px;
        
    }
    .fallback{
     
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            margin-top: 70%;
            font-size: 16px;
            color: $dark-grey;
        }
    }
    .date{
        @include flex($justifyContent:space-between,$alignItems:center);
        width: 385px;
        text-align: center;
svg{
    margin-bottom: 10px;
    cursor: pointer;

}
    }
   .pagination-header{
    background-color: $black;
       color:$white;
       @include flex($justifyContent:space-between);
       row-gap: 0px;
       column-gap: 15px;
      padding: 0 5px;
margin-bottom:5px;
div{
    display: flex;
    flex-direction: column;
    padding:5px 10px;
    font-size: 8px;
    svg{
        cursor: pointer;
    }
}
    h1{
        font-size: 12px;
        margin-bottom: 10px;
        display: flex;
        gap: 0;
        justify-content: center;
        align-items: center;
    }
   }
    .arrow-btn{
       background-color: $black;
       color:$white;
       font-weight: 500;
       cursor: pointer;
       padding: 2px 6px;
       border: none;
       border-radius: 4px;
       &:first-child{
        margin-right: 12px;
       }
       &:disabled{
        cursor:not-allowed;
        background-color: $grey;
       }
    }

    .limit-wrapper{
        @include flex($justifyContent:space-between);
    margin-top: 20px;

    }
}