@import '../../styles/index.module.scss';
.record-wrapper{
    @include flex($gap:5px,$justifyContent:space-between,$direction:column);
    .pagination-header{
        background-color: $black;
           color:$white;
           @include flex($justifyContent:space-between);
           row-gap: 0px;
           column-gap: 15px;
          padding: 3px 8px;
    margin-bottom:5px;
    
    .header{
        font-size: 14px;
        display: flex;
        padding: 8px 3px;
        &:nth-child(3)
        {
      margin-left: 70px;

            
        }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:5px 5px;
        font-size: 7px;
        
        svg{
            cursor: pointer;
        }
    }
}
}
}